@font-face { 
	font-family: 'Academic'; src: url('../font/Academic.ttf'); 
}
@font-face { 
	font-family: 'Bloodthirsty'; src: url('../font/Bloodthirsty.ttf');
}
@font-face { 
	font-family: 'VoodooVampire'; src: url('../font/VoodooVampire.ttf');
}
@font-face { 
	font-family: 'Tootie'; src: url('../font/Tootie.ttf');
}
@font-face { 
	font-family: 'Trado'; src: url('../font/trado.ttf');
}
@font-face { 
	font-family: 'Spliffs'; src: url('../font/Spliffs.ttf');
}
@font-face { 
	font-family: 'Weltron'; src: url('../font/Weltron.ttf');
}
@font-face { 
	font-family: 'FoglihtenFr02'; src: url('../font/FoglihtenFr02.otf');
}
@font-face { 
	font-family: 'QumpellkaNo12'; src: url('../font/QumpellkaNo12.otf');
}
@font-face { 
	font-family: 'Transformers'; src: url('../font/Transformers.ttf');
}
@font-face { 
	font-family: 'BlackRose'; src: url('../font/BlackRose.ttf');
}
@font-face { 
	font-family: 'ChuckNoon'; src: url('../font/ChuckNoon.ttf');
}
@font-face { 
	font-family: 'Grunja'; src: url('../font/Grunja.ttf');
}
@font-face { 
	font-family: 'JellykaLuckyDay'; src: url('../font/JellykaLuckyDay.ttf');
}
@font-face { 
	font-family: 'Twinkle'; src: url('../font/Twinkle.ttf');
}